.ft-sz-14{
    font-size: 14px;
}
.bold{
    font-weight: bold ;
}
.ft-sz-12 {
    font-size: 12px;
}
.loginButton {
    color: white;
    border: 1px solid #ddd;
    padding: 4px 10px 3px 10px;
}
.navbar {
    padding: 0px !important;
}
.pl-15 {
    padding-left: 15px;
}
.md-form .prefix.active {
    color: #2bbbad !important
}
.md-form.md-outline input[type="text"]:focus:not([readonly]) + label {
    color: #2bbbad !important;
}
.md-form.md-outline input[type="text"]:focus:not([readonly]) {
    border-color:  #2bbbad !important;
    box-shadow: inset 0 0 0 1px #2bbbad !important;
}
/* .container {
    max-width: 80% !important;
} */
.searchInput {
    float: right;
}
.dealsContainer {
    margin-top:15px;
}
.dealscaurosal {
    font-size: 20px;
    font-weight: bold;
}
.dealsImageView {
  width:250px;
}
.dealsImageText {
  font-weight: bold;
  font-size: 14px;
  color: #444444;
}
.slick-slide {
margin: 0px 10px;
}

.slick-slide img {
width: 100%;
}

.slick-disabled {
  opacity: 0.2;
}
.slick-prev, .slick-next{
  top:47%;
}
.slick-next, .slick-prev {
  right: -10px;
}
.mbfoot{
  background-color: #2bbbad !important
}
.mt-7 {
  margin-top: 7%;
}
.dropdown-menu {
  right: 0;
  left: auto !important;
  top:20% !important;
}
.dropdown-item:focus, .dropdown-item:hover{
  color: #2bbbad !important
}
.dropdown .dropdown-menu .dropdown-item:active{
  background-color: #2bbbad !important
}
.show {
  display: block;
}
.hide {
  display: none;
}
.md-form {
  margin-bottom: 0 !important;
  margin-top: 1rem !important;
}
.invalidMsg {
  color: red;
  margin-left: 5%;
}
.mr-10{
  margin-right:10px
}
.signInErrMsg{
  color: red;
  align-content: center;
}
.signInForm .md-form{
  margin-top: 1em !important;
}
/* .mainHeader{
  height:70px;
} */
.noPad{
  padding: 0 !important;
}
.ourDoctors{
  font-weight: 400;
  font-size: 1.5em;
  margin-top: 0.5em;
}
.imageRadius{
  border-radius: 50%;
}
.docDetaildiv, .docappdiv{
  margin-top: 2%;
}
.doctorName {
  color : #2bbbad
}
.doctorTag{
  color: #777777;
  font-size: 80%;
}
.doctorExperience {
  color: #444444;
}
.doctorHospital{
  color: #444444;
  font-size: 90%;
}
.doctorCard{
  width: "100%";
  margin-top: 1%;
}
.findDoctorDropdown{
  width:30%;
  margin-top: 1%;
}
.selectDropdownMessage{
  background-color: #ddd;
  width:100%;
  height:120px;
  margin-top: 3%;
  vertical-align:middle;
  padding-top:2%;
}
.bottomFooter{
  bottom: 0 !important;
}
.dateDropdown{
  width: 50%;
}
.form-check-input{
  margin-top: 5%;
}
.slotRadio{
  width: 5%;
}
.slotRadioLabel{
  margin-left: 2%;
}
.bookApmntErr{
  color: red;
}



